{
    "version": 1,
    "disable_existing_loggers": true,
    "formatters": {
        "default": {
            "format": "%(asctime)s | %(name)s | %(levelname)s | %(message)s"
        }
    },
    "handlers": {
        "console_debug": {
            "level": "DEBUG",
            "class": "logging.StreamHandler",
            "formatter": "default",
            "stream": "ext://sys.stdout"
        },
        "console_info": {
            "level": "INFO",
            "class": "logging.StreamHandler",
            "formatter": "default",
            "stream": "ext://sys.stdout"
        },
        "console_warning": {
            "level": "WARNING",
            "class": "logging.StreamHandler",
            "formatter": "default",
            "stream": "ext://sys.stdout"
        },
        "console_error": {
            "level": "ERROR",
            "class": "logging.StreamHandler",
            "formatter": "default",
            "stream": "ext://sys.stdout"
        },
        "console_critical": {
            "level": "CRITICAL",
            "class": "logging.StreamHandler",
            "formatter": "default",
            "stream": "ext://sys.stdout"
        }
    },
    "loggers": {
        "logger_name_debug": {
            "handlers": ["console_debug"],
            "level": "DEBUG"
        },
        "logger_name_info": {
            "handlers": ["console_info"],
            "level": "INFO"
        },
        "logger_name_warning": {
            "handlers": ["console_warning"],
            "level": "WARNING"
        },
        "logger_name_error": {
            "handlers": ["console_error"],
            "level": "ERROR"
        },
        "logger_name_critical": {
            "handlers": ["console_critical"],
            "level": "CRITICAL"
        }
    }
}